.container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#sq1 {
    grid-row: 1 / 4;
}

#sq2 {
    grid-row: 3 / 3;
    grid-column: 2 / 5;
}

#sq3 {
    grid-row: 1 / 3;
    grid-column: 4 / 4;
}

#sq4 {
    grid-column: 2 / 4;
}