main {
    display: flex;
    justify-content: center;
}

.container {
    width: 500px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

#sq2, #sq5, #sq8 {
    align-self: center;
}

#sq4, #sq7 {
    margin-left: -200px; 
}

#sq3, #sq6, #sq9 {
    align-self: flex-end
}